body {
  width: 100%;
  height: auto;
  background-color: #F5F2E1;
  margin: 0; 
  font-family: 'Imbue', serif;
}

/*Section Hero */
.hero {
  position: relative;
  width: 100%;
  border-radius: 0 0 50px 50px; 
  overflow: hidden;             
}

/* Image de fond */
.hero .fond {
  width: 100%;
  height: 1400px;        
  object-fit: cover;    
  display: flex;
}


/* le fond vert de mon bas de page */
footer {
  display: flex;              
  justify-content: center;     
  align-items: center;          
  background-color: #757A4A;
  padding: 10px 0;             
  height: auto;                 
}

/* le text de mon bas de page */
footer p {
  margin: 0;                    
  padding: 0;
  font-size: 24px;
  color: #F5F2E1;
}

/* Emplacement menu */
#Menu {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 10;         
}

/* Emplacement des choses dans mon menu */
#Menu ul {
  list-style: none;       
  margin: 0;
  padding: 0;
  display: flex;             
  justify-content: center;   
  gap: 250px;                 
}

/* Le text de mon menu */
#Menu a {
  text-decoration: none; 
  font-family: 'Imbue', serif; 
  color: #F5F2E1;          
  font-size: 48px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* Mon menu au survol */
#Menu a:hover { 
  color: #757A4A;          
}

/* Mon logo par dessus mon image de fond */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;  
  height: auto;
  z-index: 10;
}

/* Le parent des mes images de chats */
.chats {
  display: flex;              
  justify-content: center;     
  align-items: center;        
  margin: 200px 0;            
  gap: 125px;                  
}

/* Mes images de chats */
.chats img {
  max-width: 100%;             
  height: auto;       
}

/* Mon nom centré */
h1 {
  text-align: center;  
  width: 800px;        
  margin: 0 auto;  
  font-size: 128px; 
  color: #7C8064;   
}

/* Mon bienvenue */
h2 {
  text-align: center;  
  width: 1000px;        
  margin: 0 auto; 
  font-size: 96px;  
  font-family: 'Kapakana', serif;   
}

/* Mon à propos de moi */
p {
  text-align: center;  
  width: 1300px;       
  margin: 100px auto;  
  font-size: 48px;
  color: black; 
}

/* Mon image de foret 1 centré */
.foret1 {
  display: flex;
  justify-content: center;   
  align-items: center;  
  padding-top: 50px;     
  padding-bottom: 150px;
}

/* Le parent de mon titre 1 et de la ligne centré */
.titre1, .titre2 {
  text-align: center;
}

/* mon titre mes projets */
h1.projetsTitre {  
  font-size: 128px;
  color: #7C8064;
  width: 100%;         
}

h1.contact {  
  font-size: 128px;
  color: #7C8064;
  width: 100%;         
}

/* La ligne en dessous de mon titre mes projets */
.ligne {
  display: block;
  margin: 0 auto;   
}

/* Conteneur de tous les projets */
.projets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  max-width: 1290px;              
  margin: 0 auto 50px auto;          
}

/* Gros rectangles verts pour Projets */
.projet1, .projet2, .projet3 {
  width: 48%;                    
  background-color: #757A4A;
  border-radius: 50px;
  padding: 40px;
  height: 850px;
  color: #F5F2E1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px; 
  margin-top: 55px;
}

/* Titres 1 des projets */
.projets h1 {
  font-size: 96px;
  margin: 0;
  color: #F5F2E1;
}

/* Titres 2 des projets*/
.projets h2 {
  font-size: 52px;
  margin: 0;
  font-weight: normal;
  color: #F5F2E1;
  font-family: 'Imbue', serif;
}

/* Carrousel */
.carousel-container {
  background-color: #F5F2E1;
  padding: 20px;
  width: 100%; 
  height: auto;           
  display: flex;
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
}

/* Carrousel d'images */
.carousel-container img {
  height: 200px;
}

/* Description de mes projets */
.projets p {
  font-size: 25px;
  line-height: 1.6;
  margin: 0;
  color: #F5F2E1;
  width: 90%;
  text-align: left;
}

/* Mon image de foret 2 centré */
.foret2 {
  display: flex;
  justify-content: center;   
  align-items: center;  
  padding-top: 50px;     
  padding-bottom: 150px;
}

/* section contact dimension et emplacement parent de mon contact wrapper*/
.contacter {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 1290px;   
}

/* parent de ma photo et mes infos  */
.contact-wrapper {
  display: flex;
  gap: 40px;           
  width: 100%;
}

/* ma photo grandeur */
.contact-photo img {
  width: 600px;        
  height: auto;
}

/* mes infos allure */
.contact-infos p {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  color: black;
  font-family: 'Imbue', serif;
  text-align: left;
  gap: 15px;
}

/* mes infos au survol */
.contact-infos p:hover {
  text-decoration: underline;
}


/* Mobile */
@media screen and (max-width: 992px) {
  /* gap de menu plus petite */
  #Menu ul {
    gap: 130px;
  }

  /* Typo plus petite */
  #Menu a {
    font-size: 25px;
  }

  /* hero img plus petite */
  .hero .fond {
    height: 1000px; 
  }

  /* Logo plus petit */
  .logo {
    width: 50%;
  }

  /* Typo et largeur plus petite */
  h1 {
    font-size: 74px;
    width: 90%;
  }

  /* Typo et largeur plus petite */
  h2 {
    font-size: 48px;
    width: 90%;
  }

  /* Typo plus petite */
  p {
    font-size: 24px;
    width: 90%;
    margin: 50px auto;
  }

  /* img plus petite */
  .foret1 img {
    width: 90%;       
    max-width: 900px; 
    height: auto;
  }

  /* img plus petite */
  .foret2 img {
    width: 90%;       
    max-width: 900px; 
    height: auto;
  }

  /* section chats emplacement*/
  .chats {
    gap: 10px;
    margin: 50px 0;
    justify-content: center;
  }

  /* img chats taille*/
  .chats img {
    width: 30%;            
    height: auto;
  }


  /* Projets en verticales */
  .projets {
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center; 
  }

  /* Projets dimensions */
  .projet1, .projet2, .projet3 {
    width: 90%;          
    max-width: 900px;   
    height: auto;
    padding: 20px;
    gap: 30px;
  }

  /* Typo plus petite */
  .projets h1 {
    font-size: 48px;
  }

  .projets h2 {
    font-size: 28px;
  }

  .projets p {
    font-size: 20px;
  }

  /* Carrousel plus petit de la hauteur */
  .carousel-container img {
    height: 150px;
  }

  /* Change pour column pour avoir mes infos en dessous de ma photo centrés */
  .contact-wrapper {
    flex-direction: column;      
    align-items: center;        
    text-align: center;          
    gap: 5px;                   
  }

  /* le text de mes infos plus petit */
  .contact-infos p {
    text-align: center;          
    font-size: 56px;              
  }

  /* ma photo plus petite */
  .contact-photo img {
    width: 80%;                  
    max-width: 400px;            
    height: auto;
  }

  /* typo plus petite pour mes titres 1 et 2 */
  h1.contact, h1.projetsTitre {
  font-size: 88px;
  }

  /* arranger la largeur de mes lignes */
  .ligne {
  width: 90%;       
  max-width: 900px; 
  height: auto; 
  }
}

